
html{
    font-family:fantasy;
    background-color: burlywood;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;

}
h1{
    background-color: rgb(218, 166, 119);
    color:darkolivegreen;
    padding: 10px;
    border-radius: 20px;
}
ul{
    background-color: rgb(218, 166, 119);
    padding: 10px;
    
}
ol{
    width:600px;
}
p{
    width:600px;
}